.bgContainer {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 40rem;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(230, 228, 228);
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0rem 0rem 1rem 0rem black;
}
.cardContainer p {
  text-align: center;
  font-size: 2rem;
  word-spacing: 0.3rem;
}
.confirmButtons {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
}
