.playButton {
  width: 10rem;
  margin-top: 2rem;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: #000;
  cursor: pointer;
  border: 0.3rem solid;
  padding: 0.25em 0.5em;
  box-shadow: 0.1rem 0.1rem 0 0, 0.2rem 0.2rem 0 0, 0.3rem 0.3rem 0 0,
    0.4rem 0.4rem 0 0, 0.5rem 0.5rem 0 0;
  position: relative;
  touch-action: manipulation;
  font-family: "Permanent Marker", cursive;
}

.playButton:active {
  box-shadow: 0 0 0 0;
  top: 0.5rem;
  left: 0.5rem;
}

.playButton:hover {
  letter-spacing: 0.2rem;
  transition: 0.2s;
}
