.container {
  width: 19rem;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  background: radial-gradient(#555, rgb(105, 103, 103));
}

.light {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}
.bulb {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 2;
  background: #fff;
  box-shadow: 0 0 50px #fff, 0 0 100px #fff, 0 0 150px #fff, 0 0 200px #fff,
    0 0 250px #fff, 0 0 300px #fff, 0 0 350px #fff;
}

.lightOf {
  opacity: 0.03;
  transition: 0.4s;
}

.bulb::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 22.5px;
  width: 35px;
  height: 80px;
  background: #fff;
  border-top: 30px solid #000;
  border-radius: 10px;
}

.light .bulb::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  background: #fff;
  border-radius: 50%;
  filter: blur(40px);
}

.bulb span:nth-child(1) {
  position: absolute;
  top: -16px;
  left: -4px;
  display: block;
  width: 30px;
  height: 30px;
  background: transparent;
  transform: rotate(342deg);
  border-bottom-right-radius: 40px;
  box-shadow: 20px 20px 0 10px #fff;
}

.bulb span:nth-child(2) {
  position: absolute;
  top: -16px;
  right: -4px;
  display: block;
  width: 30px;
  height: 30px;
  background: transparent;
  transform: rotate(17deg);
  border-bottom-left-radius: 40px;
  box-shadow: -20px 20px 0 10px #fff;
}

.wire {
  position: absolute;
  left: calc(50% - 2px);
  bottom: 50%;
  width: 4px;
  height: 60vh;
  background: #000;
  z-index: 1;
}

.pictureDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pictureDiv p {
  font-size: 2rem;
}
